<table align="center" border="0" cellpadding="0" cellspacing="0" width="660" class="im_footer">
  <tr>
    <td align="center" class="im_logo">
      <img src="https://cdn.whale.token.im/email/imtoken.png" alt="logo" width="110">
    </td>
  </tr>
  <tr>
    <td align="center" class="im_download">
      {{download_imtoken}}<a href="https://token.im" target="_blank">https://token.im</a>
    </td>
  </tr>
</table>
